<div class="modal ModalUpdate"  aria-labelledby="exampleModalToggleLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Ürün Güncelleme Ekranı</h2>
            </div>
            <form>
                <div class="modal-body">
                    <label>Ürün Adı</label>
                    <input type="text" ng-model="model.product.pName" name="pName" class="form-control" /><br />

                    <label>Ürün Tipi</label>
                    <input type="text" ng-model="model.product.PType" name="PType" class="form-control" /><br />

                    <button ng-click="" class="btn btn-info" >Güncelle</button>
                    <button class="btn btn-danger">Vazgeç</button>
                </div>
            </form>
        </div>
    </div>

</div>